In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (2.1.4)
Requirement already satisfied: tzdata>=2022.1 in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\soram wanglen\appdata\local\programs\python\python310\lib\site-packages (1.26.2)

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy
import pandas

In [5]:
lst = [1,2,3,4,5]

In [6]:
lst

[1, 2, 3, 4, 5]

In [7]:
numpy.array(lst)

array([1, 2, 3, 4, 5])

In [8]:
pandas.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
data = pandas.DataFrame([lst,lst,lst,lst,lst,lst,lst] , columns = ["A","B","C","D","E"])

In [14]:
data

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5

In [15]:
del df

NameError: name 'df' is not defined

In [16]:
del data

In [17]:
data

NameError: name 'data' is not defined