# Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data_for_lr.csv")

In [3]:
data

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [5]:
data.isnull().sum()

x    0
y    1
dtype: int64

# Data processing

In [6]:
df = data.dropna()

In [7]:
df

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[699 rows x 2 columns]

In [8]:
df.isnull().sum()

x    0
y    0
dtype: int64

# Splitting Data

In [18]:
# training input and output
train_input = np.array(data.x[0:500]).reshape(500,1)
train_output = np.array(data.y[0:500]).reshape(500,1)

#validation data input and output
test_input = np.array(data.x[500:699]).reshape(199,1)
test_output = np.array(data.y[500:699]).reshape(199,1)

In [19]:
print(f"print training input data shape = {train_input.shape}")
print(f"print training output data shape = {train_output.shape}")
print(f"print validation input data shape = {test_input.shape}")
print(f"print validation input data shape = {test_input.shape}")

print training input data shape = (500, 1)
print training output data shape = (500, 1)
print validation input data shape = (199, 1)
print validation input data shape = (199, 1)

#<font color = "green">Linear Regression </font>
<font color = "green">Linear Regression </font>

# forward propation : y = mx + c

In [21]:
def forward_propagation(train_input, parameters):
    m = parameters['m']
    c = parameters['c']
    predictions = np.multiply(m, train_input) + c
    return predictions

# Defining Cost Function
## Mean Squared Error, Cost = [(y - f(x)) ^ 2] * 0.5

### where y are the actual or true values and f(x) are the predicted values.

In [22]:
def cost_function(predictions, train_output):
    cost = np.mean((train_output - predictions) ** 2) * 0.5
    return cost